@import url(http://fonts.googleapis.com/css?family=Cinzel:400,900);

body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
	margin:0;
}
/*p {
    text-align: justify;
    font-size: 10pt;
	font-weight:100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/
img { border-style: none; }
a,a:visited{
border-style: none;
}
a:active, a:focus { outline: none; -moz-outline-style: none; }
/* 01. TOP */
.app_header-top {
	background: url('../images/bg-top-header.png') left bottom repeat-x;
	height: 25px;
	color: #FFF;
	min-width: 980px;
}
.app_main {
  margin: 0 auto 0;
  width: 100%;
  border: 0px solid #000;
  min-width: 980px;
}
.center{
	width:980px;
    margin: 0 auto;
}
.app_header {
	height: 115px;
	padding-bottom: 30px;
	padding-top: 25px;
	background: #f6f6f6;
	border-style: none none solid none;
	border-width:1px;
	border-color:#dddddd;
}
.app_uin_id a{ 
  float:left;
/*
  background:url('../images/logo-uin.png') no-repeat;
*/
  background:url('../images/logorss.png') no-repeat;
  background-position: -10px -10px;
  width: 296px; height: 65px;
  padding:0px;
  position: relative;
}
.app_header_right{
  padding: 0;
  float: right;
  width: 680px;
  height: 75px;
  position: relative;
  font-weight: bold;
}
.app_header_right .app_system_id{    
  text-align:right;
  font-family:cinzel;
  float:right;
  max-width:100%;
  height:25px;
  font-size:25px;
  color:#A4884A;
  font-weight: bold;
}
.app_header_right .app_univ_id {  
  text-align:right;
/*
  font-family:optimale;
*/
  float:right;
  width:100%;
  font-size:15px; 
  color:#000;
  font-weight: bold;
}
.sia-basic_header-app-id-fct {
  text-align:right;
  font-family:cinzel;
  float:right;
  width:100%;
  font-size:15px; 
  color:#000;
  font-weight: bold;
}
/*==CONTENT==*/
#app_content{
    margin: 0 auto;
	padding-top:5px;
    width: 980px;
    overflow: hidden;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  position: relative;
  min-height: 1px;
}
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }



#sidebar-login{
    padding-left: 10px;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    width: 245px;
    color: #333;
}
.app-row{
/*
  margin-right: -10px;
*/
  margin-left: -10px;
}
.col-med-1, .col-med-2, .col-med-3, .col-med-4, .col-med-5, .col-med-6, .col-med-7, .col-med-8, .col-med-9, .col-med-10, .col-med-11, .col-med-12 {
  position: relative;
  min-height: 1px;
  padding-left: 12px;
}
  .col-med-1, .col-med-2, .col-med-3, .col-med-4, .col-med-5, .col-med-6, .col-med-7, .col-med-8, .col-med-9, .col-med-10, .col-med-11, .col-med-12 {
    float: left;
  }
  .col-med-12 {
    width: 100%;
  }
  .col-med-11 {
    width: 91.66666667%;
  }
  .col-med-10 {
    width: 83.33333333%;
  }
  .col-med-9 {
    width: 75%;
  }
  .col-med-8 {
    width: 66.66666667%;
  }
  .col-med-7 {
    width: 58.33333333%;
  }
  .col-med-6 {
    width: 50%;
  }
  .col-med-5 {
    width: 41.66666667%;
  }
  .col-med-4 {
    width: 33.33333333%;
  }
  .col-med-3 {
    width: 25%;
  }
  .col-med-2 {
    width: 16.66666667%;
  }
  .col-med-1 {
    width: 8.33333333%;
  }


/*==LOGIN==*/
.login-form{
/*	width:196px;*/
}

.control-group {
    margin-bottom: 10px;
}

.login-link{
	position: relative;
	min-height: 1px;
	float: left;
    width: 33.33333333%;
}
.login-link a.link-icon{
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 40px;
	text-align:center;
	display:block;
}
.login-links {
    width: 100%}
.login-links a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
}
.login-links a:hover {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFBE24;
}
.login-links .suka-links2 {
    width: 70px;
    float: left;
    color: #333;
    text-align: center;
}
.suka-links2 .pembayaran {
    background-image: url(../images/icon-login/pembayaran.png);
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 40px;
}
.suka-links2 a:hover .pembayaran {
    background-image: url(../images/icon-login/pembayaran-hover.png);
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 40px;
}
.suka-links2 .kalender {
    background-image: url(../images/icon-login/kalender.png);
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 40px;
}
.suka-links2 a:hover .kalender {
    background-image: url(../images/icon-login/kalender-hover.png);
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 40px;
}
.suka-links2 .monitoring-surat {
    background-image: url(../images/icon-login/monitoring-suratv2.png);
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 40px;
}
.suka-links2 a:hover .monitoring-surat {
    background-image: url(../images/icon-login/monitoring-suratv2-hover.png);
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 40px;
}
.login-link  a.matakuliah {
/*
    background-image: url(../images/icon-login/matakuliah.png);
*/
    background-image: url(../images/icon-login/kamapa.png);
    background-position: -79px -10px;
}
.login-link a.matakuliah:hover {
/*
    background-image: url(../images/icon-login/matakuliah-hover.png);
*/
    background-image: url(../images/icon-login/kamapah.png);
}
.login-link  a.sukapass {
/*
    background-image: url(../images/icon-login/matakuliah.png);
*/
    background-image: url(../images/icon-login/sukapass-icon.png);
}
.login-link a.sukapass:hover {
/*
    background-image: url(../images/icon-login/matakuliah-hover.png);
*/
    background-image: url(../images/icon-login/sukapass-icon-hover.png);
}
.login-link  a.pembayaran {
/*
    background-image: url(../images/icon-login/pembayaran.png);
*/
    background-image: url(../images/icon-login/kamapa.png);
    background-position: -159px -10px;
}
.login-link a.pembayaran:hover {
/*
    background-image: url(../images/icon-login/pembayaran-hover.png);
*/
    background-image: url(../images/icon-login/kamapah.png);
}
.login-link  a.kalender {
/*
    background-image: url(../images/icon-login/kalender.png);
*/
    background-image: url(../images/icon-login/kamapa.png);
    background-position: -1px -10px;
}
.login-link a.kalender:hover {
/*
    background-image: url(../images/icon-login/kalender-hover.png);
*/
    background-image: url(../images/icon-login/kamapah.png);
    background-position: -1px -10px;
}
.login-link  a.monitoring-surat {
    background-image: url(../images/monitoring-suratv2.png);
}
.login-link a.monitoring-surat:hover {
    background-image: url(../images/monitoring-suratv2-hover.png);
}


/*==ARTIKEL==*/
.app-blog{
	padding-top:20px;
}

.judul-02{
	font-weight:bold;
	margin:0;
}

.dis .judul-kolom {
    color: #A4884A;
    font-size: 14pt;
	margin-bottom:10px;
}
a.rss {
    width: 13px;
/*
    background: url('../images/rss-logo.png') no-repeat scroll left center transparent;
*/
    background: url('../images/logorss.png')  scroll left center transparent;
    background-repeat: no-repeat;
	background-position: -10px -88px;

    display: inline-block;
    margin-right: 5px;
}
a:link {
    color: #333;
    text-decoration: none;
}
div.judul-artikel{
    color: #A4884A;
    font-size: 11pt;
	font-weight:bold;
	margin:0;
	padding:0;
}
.dis {
   height: 305px;
}
.picture-caption{
    font-size: 8pt;
    color: #4d4d4d;
	padding-top:4px;
	display:block;
}
.tgl-post {
    font-size: 8pt;
    color: #4d4d4d;
    font-style: italic;
	padding-top:4px;
	display:block;
}
.tipe{
    font-size: 8pt;
    color: #4d4d4d;
	padding-top:4px;
	display:block;
}
.lihat-post {
    font-size: 8pt;
    color: #000;
}
.isi {
    font-size: 10pt;
    color: #333;
	text-align:justify;
	margin-bottom:10px;
	padding-top:10px;
}
.list-artikel ul {
    margin: 0; 
    padding: 0;
    list-style-type: none;
}

.list-artikel ul li a {
	font-size: 10pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    text-decoration: none;
    display:block;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom:1px solid #A4884A;
}
 /*
.list-artikel ul li a:visited {
    color: #FFBE24;
}
 */
.list-artikel ul li a:hover, .list-artikel ul li .current {
    color: #FFBE24;
}

.dateblock {
    float: left;
    text-align: center;
    height: 35px;
    margin: 6px 0 0 0;
}
.day {
    color: #999;
    font-size: 22px;
    position: relative;
    top: -8px;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.month {
    color: #999;
    font-size: 10px;
    font-style: italic;
    letter-spacing: .1em;
    position: relative;
    top: -8px;
}
.col-title {
    color: #e6e6e6;
    font-size: 13px;
}
.datetext .divline-solid {
    margin-top: 0;
    padding-top: 0;
}
.datetext {
    color: #4b4b4b;
    padding-left: 33px;
    height: 53px;
}
.datetext p {
    margin: 0;
}
.datetext p.col-title {
    margin-top: 0;
}
.datetext a {
    text-decoration: none;
}
.datetext a:hover {
    color: #FFBE24;
}

/*==BUTTON==*/
.btn-small {
    padding: 4px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn-small [class*=" icon-"], .btn-small [class^=icon-] {
    margin-top: 0;
}
.btn-mini [class*=" icon-"], .btn-mini [class^=icon-] {
    margin-top: -1px;
}
.btn-mini {
    padding: 0 6px;
    font-size: 10.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a.btn-uin:hover, a.btn-uin:link, a.btn-uin:visited, button.btn-uin, button.btn-uin:disabled, input.btn-uin, input.btn-uin:disabled, input.btn-uin:hover {
    color: #F5F5F5;
/*
    background-image: url('../images/ico-menu.png');
    background-repeat: no-repeat;
    background-position: 5px 50%!important;
    background-position-x: 5px;
    background-position-y: 50%;
*/
    background-image: url('../images/logorss.png');
    background-repeat: no-repeat;
	background-position: -5px -124px;

	padding: 3px 12px 3px 24px;
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:active.btn-uin, a:focus.btn-uin, a:hover.btn-uin, button:active.btn-uin, button:focus.btn-uin, button:hover.btn-uin, input:active.btn-uin, input:focus.btn-uin, input:hover.btn-uin {
    background-image: url('../images/ico-hover.png');
    color: #FFF;
    background-repeat: no-repeat;
    background-position: 5px 50%!important;
    background-position-x: 5px;
    background-position-y: 50%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a.btn-uin-right:hover, a.btn-uin-right:link, a.btn-uin-right:visited, button.btn-uin-right, button.btn-uin-right:disabled, input.btn-uin-right, input.btn-uin-right:hover, input.btn-uin-right:disabled {
    color: #F5F5F5;
    background-image: url(../images/ico-menu.png);
    background-repeat: no-repeat;
    background-position: right 5px top 50%!important;
    background-position-x: 95%;
    background-position-y: 50%;
    padding: 2px 24px 2px 12px;
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:active.btn-uin-right, a:focus.btn-uin-right, a:hover.btn-uin-right, button:active.btn-uin-right, button:focus.btn-uin-right, button:hover.btn-uin-right, input:active.btn-uin-right, input:focus.btn-uin-right, input:hover.btn-uin-right {
    background-image: url(../images/ico-hover.png);
    color: #FFF;
    background-repeat: no-repeat;
    background-position: right 5px top 50%!important;
    background-position-x: 95%;
    background-position-y: 50%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

/*==GANJEL==*/
.clear5{
	clear:both;
	margin-bottom:5px;
}
.clear10{
	clear:both;
	margin-bottom:10px;
}
.clear20{
	clear:both;
	margin-bottom:20px;
}

/*==FOOTER==*/

/* GLOBAL FOOTER */

.footer-underline{
  margin-top:30px;
  padding:10px 0 0px 0;
  border-color:#a7a7a7;
  margin:10px 0 auto;
  background:#1d1d1d;
  color:#fff;
}

.footer-underline a{
 color:#929292;
}
.footer-underline a:hover{
 color:#FFBE24;
}

.sitemap{
	font-size: 10pt;
	text-align:left;
	float:left;
	height:30px;
	width:200px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sitemap a{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#DFDFDF;
}

.sitemap a:hover{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#FFBE24;
}

.social-media{
	text-align:right;
	float:right;
	height:30px;
	width:245px;
} 

.footer-links{
	width:100%;
}

.footer-links a{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#929292 !important;
}

.footer-links a:hover{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#FFBE24 !important;
}


.suka-links{
	padding-bottom:12px;
	font-size: 10pt;
}

.suka-links span{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:10px 0 5px ;
	display:inline-block;
}

.suka-links ul {
	list-style: bullet;
	display: inline;
	margin:0;
	padding:0;
}
.suka-links ul li {
	position: relative;
	float: none;
	display: block;
}

.dokumen-links{
	width:150px;
	float:left;
	text-align:left;
	color:#DFDFDF;
}

.another-links{
	width:130px;
	float:left;
	text-align:left;
	color:#DFDFDF;
}

.copyright{
	width:100%;
	text-align:center;
	color:#696969;
	background-color:#000;
	height:50px;
	padding-top:15px;
	padding-bottom:15px;
}

.unit-name{
  text-align:right;
  font-family:cinzel;
  float:right;
  max-width:100%;
  height:20px;
  font-size:17px;
  color:#333333;
  margin-right:20px;
}

.university{
  text-align:right;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  float:right;
  max-width:100%;
  height:20px;
  font-size:14px;
  color:#333333;
  margin-right:20px;
}

.alamat{
	text-align:left;
	color:#929292;
	font-size:12px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	width:250px;
}



/*==ACORDION==*/
nav.accordion { width: 100%; }
nav.accordion a.item{
  padding:5px 0px 5px 25px;
  background-image:url('../images/ico-menu.png');
  background-repeat:no-repeat;
  background-position:1px 6px;
  font-weight:normal;
  display:inline-block;
}

nav.accordion a.item:hover {
  background-image:url('../images/ico-hover.png');
  background-repeat:no-repeat;
  background-position:1px 6px;
  color:#FFBE24;
}

nav.accordion a.subitem:hover { color:#A4884A; }
nav.accordion ol,nav.accordion ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	min-width: 100px;
	max-width: 100%;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav.accordion ol li, nav.accordion ul li {
	height: 100%;
	overflow: hidden;
}

nav.accordion ol li .submenu, nav.accordion ol li .submenu  { height: 25px; }
nav.accordion ol li, nav.accordion ol li:last-child { border-bottom: 0px; }
nav.accordion ol .tutup li:target{ height:0px; }
nav.accordion ol li ol, nav.accordion ul li ul{
	/*opacity: 0;*/
	padding-left: 25px;
	padding-right: 0px;
	border: 0px;
	max-width: 250px;
	overflow-y: auto;
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}

nav.accordion ol li ol li.submenu { height:auto; max-width:198px;}
nav.accordion ol li ol li ol li { margin-left: -30px; padding-left: -30px; }
nav.accordion ol li ol li.submenu a:hover { color:#FFBE24;}
nav.accordion ol li:target ol{ opacity: 1; }
.bukalagispan { font-weight: bold; }

/* 03. NAVIGATION */

ul.navigation {padding :5px 0px 0px 5px;}
ul.disable {padding :5px 0px 0px 5px;}

ul.navigation  li {
  list-style-type:none;
  display:block;
  float:left;
  color:#ffffff;  
  padding:12px 20px 12px 20px;
  margin-right:2px;   
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  cursor:pointer;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:15px;
  color:#A4884A;  
}

ul.disable  li {
  list-style-type:none;
  display:block;
  float:left;
  color:#ffffff;  
  padding:12px 20px 12px 20px;
  margin-right:2px;   
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  cursor:pointer;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:15px;
  color:#A4884A;  
}

.navigation #tab{
  padding:5px 35px 5px 35px;border-style: none solid none none;border-color:#CCCCCC;border-width:2px;
}

.disable #tab{
  padding:5px 35px 5px 35px;border-style: none solid none none;border-color:#CCCCCC;border-width:2px;
}

.navigation #end-tab{
  padding:5px 35px 5px 35px;border-style: none none none none;border-color:#CCCCCC;border-width:2px;
}

.disable #end-tab{
  padding:5px 35px 5px 35px;border-style: none none none none;border-color:#CCCCCC;border-width:2px;
}

ul.disable li:hover {
  -moz-border-radius: 2px 2px 2px 2px;
  color:#A4884A;
  background-color:#FFFFFF;
}

ul.navigation li:hover {
  -moz-border-radius: 2px 2px 2px 2px;
  color:#FFFFFF;
  background-color:#A4884A;
}

ul.navigation li.current {
  -moz-border-radius: 2px 2px 2px 2px;
  color:#FFFFFF;
  background-color:#A4884A;
}
li .underline-menu {
    margin-top: 2px;
    border-style: none none solid;
    border-color: #ccc;
    border-width: 1px;
}

/*===================News Area======================*/
.news-list{
border-bottom:1px dotted #CCCCCC;
clear:both;
line-height:17px;
margin:0 0 15px;
padding:0 0 5px;
}


.news-list img.thumb{
width:120px;
float:left;
margin:15px 7px 7px 0;
}

.news-list h1{
font-size:14px;
margin:0px;
padding:0px;
}

.news-list h4{
font-size:11px;
margin:0px;
font-style:italic;
font-weight:normal;
padding:3px 0px;
color:#666666;
}

#article-detail{
clear:both;
padding:0px 15px 15px;
line-height:17px;
}

.article-content{
	clear:both;
	padding:0px 15px 10px;
	line-height:17px;
}
.article-title{
	background-position:left top;
	background-repeat:no-repeat;
	font-size:18px;
	font-weight:bold;
	line-height:20px;
}
.article-content p{
	margin-bottom:10px;
}
.article-content img{
	max-width:444px;
	border:1px solid #ccc;
	padding:2px;
	margin:0 auto 7px auto;
	display:block;
}
.sosmed-sharing{
	width:100%;
	float:left;
	margin-bottom:10px;
	display:block;
}
.social-sharing{
	width:100%;
	float:left;
	margin-bottom:10px;
	display:block;
}
.social-button{
	margin-right:5px;
	float:left;
	height:25px;
	overflow:hidden;
}
.social-button .facebook{
	width:96px;
}
.social-button .google{
	width:93px;
}
.social-button .twitter{
	width:80px;
	clear:both;
}
.page_counter{
	float:right;
	text-align:right;
	width:30%;
	font-size:11px;
	margin:0px;
	font-style:normal;
	font-weight:normal;
	padding:0px 0px 5px 0;
	color:#444444;
}
.related-article{
margin-top:20px;
width:50%;
float:left;
}
.related-article.right{
padding-left:5px;
}
.related-article.left{
padding-right:5px;
}
.related-article ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.related-article ul li {
	padding: 0;
	margin: 0;
}

.related-article ul li a {
	display: block;
	vertical-align:top;
	padding: 5px 0 5px 20px;
	background: url(../images/arrow_list.png) left 10px  no-repeat;
}
.related-article ul li a:hover {
	text-decoration: none;
}

#news img{
float:left;
margin:7px;
}

#news h4{
font-size:11px;
margin:0px;
font-style:normal;
font-weight:normal;
padding:0 0 5px 0px;
color:#666666;
}


.recent-news{
padding-right:15px;
color:#222;
}
.recent-news h2{
color:#222;
font-size:14px;
margin:0;
}
.recent-news h4{
font-size:11px;
margin-bottom:10px;
}
.recent-news img{
width:120px;
float:left;
margin:15px 7px 7px 0;

}

/*-----------------------------------*/


/*PAGING*/
div.pagination {
	font-family:Verdana,Tahoma,Arial,Helvetica,Sans-Serif;
	font-size: 13px;
	text-align:right;
	padding:4px 0px 4px 0;
	background-color:#fff;
	float:right;
}

div.pagination a {
	color:#4444;
	text-decoration:none;
	padding:5px 9px 4px 9px;
	margin:0;
	border:1px solid #A4884A;
}

div.pagination a:hover, div.pagination a:active {
	color:#444444;
	border:1px solid #A4884A;
	background-color:#F4D89A;
}
div.pagination span.current {
	padding:5px 9px 4px 9px;
	margin:0;
	border:1px solid #A4884A;
	font-weight:bold;
	color:#444444;
	background-color:#F4D89A;
}
div.pagination span.disabled {
	display:none;
}

/*ARSIP*/
.bg-sidebar {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #DDD;
    border-radius: 4px;
}
.head-sidebar {
    width: 100%;
    padding-top: 8px;
    height: 30px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}
/*AKUN*/
 .akun{
margin-top:10px;
padding: 3px;
border: 1px solid #dddddd;
width: 223px;
float: left;
}

.foto_akun{
background-image: url('../images/blankperson.jpg');
background-repeat:no-repeat;
background-size: 40px 55px;
width: 50px;
height:56px;
float: left;
}

.info_akun{
float: left;
width:165px;
}

.info_akun hr{
width:100%;
}


.sia-profile {
padding: 15px 15px 15px 15px;
border-radius: 3px;
border: 1px solid #ddd;
margin: 0 0 20px 0;
position: relative;
text-align: center;
}
.sia-profile-image {
width: 80px;
border: 5px solid rgba(255,255,255,0.15);
box-shadow: 0 0 10px rgba(0,0,0,0.15);
margin: 0 auto;
}

table.plain-table{
width:100%;
}

table.plain-table td{
border: 1px solid #555;
}