/*tambahan 10-11-2014 */
.reg-info {
		font-size: 11px;
		line-height: 15px;
		margin-bottom: 10px;
		color: #777777;
		}

/* FONT LOADER */

@font-face
{
font-family: universitas-name;
src: url('../font/UPCIB.TTF'),
     url('../font/UPCIB.EOT'); /* IE9+ */
}
@font-face
{
font-family: cinzel;
src: url('../font/cinzel.bold.ttf'),
     url('../font/cinzel.bold.otf'); /* IE9+ */
}
@font-face
{
font-family: optimale;
src: url('../font/cinzel.bold.ttf'),
     url('../font/cinzel.bold.otf'); /* IE9+ */
}
@font-face
{
font-family: segoe;
src: url('../font/SEGOEUI.TTF'),
     url('../font/Segoe UI.EOT'); /* IE9+ */
}

@font-face
{
font-family: sansserif;
src: url('../font/sansserif.TTF'),
     url('../font/Segoe UI.EOT'); /* IE9+ */
}

/* BASIC ELEMENT */

* { margin: 0; padding: 0; }
html, body{ background: #fff; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size:14px; }

h1 { font-size:21px; }
h2 { font-size:18px; }
h3 { font-size:16px; }
ul { margin-left:30px; }
ol{ margin-left:30px; } 
hr { width:95%; margin:0 auto; color:#4d4d4d; border: none; border-top: 1px solid #CCC; margin: 1% 0 1% 0; }
hr.normal { width: 100%; color:#4d4d4d; border: none; border-top: 1px solid #CCC; }
a.highyellow:hover { text-decoration: none; color: #FFBE24; }
